<form class="foursquare-search" class="container-fluid row">
    <fieldset class="col-md-6 col-md-offset-3">
        <label for="keywords">Search for venues near:</label>
        <input name="keywords" type="text" ng-model="$ctrl.place" placeholder="Type a placename…" class="form-control">
        <button type="submit" ng-click="$ctrl.search($ctrl.place)" class="btn btn-primary">Search</button>
    </fieldset>

    <ul class="col-md-6 col-md-offset-3">
        <li ng-repeat="venue in $ctrl.venues">{{venue.name}}<em> - {{venue.categories[0].name}}</em></li>
    </ul>
</form>
